<script class="mbs-all-attachment-template" type="text/html">
	<div class="mbs-one-any-attachment" title="">
		<img class="ui image mbs-att-image" src="{{ attachmentIcon }}">
		<span class="mbs-image-caption"></span>
		<div class="mbs-attachment-image-overlay"></div>
		<div class="mbs-progress-bar">
			<div class="ui tiny indicating progress active">
				<div class="bar" style="width: 1%; transition-duration: 300ms;"></div>
			</div>
		</div>
		<i class="close icon"></i>
	</div>
</script>