<div class="sc-membership">
	<div class="ui positive message">
		<div class="header">{{ translate('Your password has been changed.') }}</div>
		<p>{{ translate('You can login in to your account here.') }}
			<a href="{{ getRouteUrl('login') }}">{{ getRouteUrl('login') }}</a>
		</p>
	</div>
</div>