<h2>{{ translate('Report details') }}</h2>

<input type="hidden" class="report-id" name="report-id" value="">

<div class="mp-message-form" style="display: none;">
    <div class="mp-message-textarea">
        <textarea data-autoresize rows="1" placeholder="{{ translate('Write a message...') }}"></textarea>
    </div>
</div>