.accent-bg-mixin {
  color: #fff;
  background-color: #1ebbf0;
}
.accent-gradient .accent-bg-mixin {
  background: #1ebbf0;
  background: -webkit-linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
  background: linear-gradient(30deg,#1ebbf0 0%,#39dfaa 100%);
}
.solid-bg-mixin {
  background-color: #f7f7f7;
}
.header-color {
  color: #333333;
}
.sidebar-content .header-color {
  color: #333333;
}
.footer .header-color {
  color: #ffffff;
}
.color-base-transparent {
  color: #b4b5bb;
}
.sidebar-content .color-base-transparent {
  color: rgba(133,134,140,0.5);
}
.footer .color-base-transparent {
  color: rgba(133,134,140,0.5);
}
.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .shadow-decoration {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.testimonial-item:not(.testimonial-item-slider),
.testimonial-item .ts-viewport,
.bg-on.team-container,
.dt-team-shortcode.content-bg-on .team-container {
  background-color: #f7f7f7;
}
.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.dt-team-shortcode .team-content {
  font-size: 14px;
  line-height: 25px;
}
.testimonial-item .testimonial-vcard .text-secondary,
.testimonial-item .testimonial-vcard .text-primary,
.testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-item .testimonial-vcard .text-secondary,
.footer .testimonial-item .testimonial-vcard .text-primary,
.footer .testimonial-item .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.testimonial-item .testimonial-vcard a.text-primary:hover,
.testimonial-item .testimonial-vcard a.text-primary:hover * {
  text-decoration: underline;
}
.team-author p {
  color: #333333;
  font:   bold 14px / 24px "Roboto", Microsoft Yahei;
  text-transform: none;
}
.dt-team-shortcode .team-author p {
  font:    15px / 27px "Roboto", Microsoft Yahei;
  text-transform: none;
  color: #1ebbf0;
}
.accent-gradient .dt-team-shortcode .team-author p {
  background: -webkit-gradient(linear,left top,right top,color-stop(32%,#1ebbf0),color-stop(100%,#39dfaa));
  background: -webkit-linear-gradient(left,#1ebbf0 32%,#39dfaa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.testimonial-vcard .text-secondary {
  color: #333333;
  font-size: 13px;
  line-height: 23px;
  font-weight: bold;
}
.sidebar-content .testimonial-vcard .text-secondary {
  color: #333333;
}
.footer .testimonial-vcard .text-secondary {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  color: #1ebbf0;
}
.accent-gradient .dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  background: -webkit-gradient(linear,left top,right top,color-stop(32%,#1ebbf0),color-stop(100%,#39dfaa));
  background: -webkit-linear-gradient(left,#1ebbf0 32%,#39dfaa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dt-testimonials-shortcode .more-link {
  color: #1ebbf0;
}
.testimonial-vcard .text-primary {
  color: #333333;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.sidebar-content .testimonial-vcard .text-primary {
  color: #333333;
}
.footer .testimonial-vcard .text-primary {
  color: #ffffff;
}
.testimonial-vcard .text-primary * {
  color: #333333;
}
.sidebar-content .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-primary {
  font: normal  normal 20px / 30px "Roboto", Microsoft Yahei;
}
.team-author-name,
.team-author-name a {
  color: #333333;
  font: normal  normal 20px / 30px "Roboto", Microsoft Yahei;
}
.content .team-author-name a:hover {
  color: #1ebbf0;
}
.accent-gradient .content .team-author-name a:hover {
  background: -webkit-gradient(linear,left top,right top,color-stop(32%,#1ebbf0),color-stop(100%,#39dfaa));
  background: -webkit-linear-gradient(left,#1ebbf0 32%,#39dfaa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.widget .team-author-name {
  font:   bold 16px / 26px "Roboto", Microsoft Yahei;
  text-transform: none;
  color: #333333;
}
.sidebar-content .widget .team-author-name {
  color: #333333;
}
.footer .widget .team-author-name {
  color: #ffffff;
}
.team-author-name,
.team-author-name a {
  color: #333333;
}
.sidebar-content .team-author-name,
.sidebar-content .team-author-name a {
  color: #333333;
}
.footer .team-author-name,
.footer .team-author-name a {
  color: #ffffff;
}
.team-author p {
  color: #b4b5bb;
}
.sidebar-content .team-author p {
  color: rgba(133,134,140,0.5);
}
.footer .team-author p {
  color: rgba(133,134,140,0.5);
}
.rsTitle {
  font:   bold 44px / 54px "Roboto", Microsoft Yahei;
  text-transform: none;
}
.rsDesc {
  font:   bold 34px / 44px "Roboto", Microsoft Yahei;
  text-transform: none;
}
@media screen and (max-width: 1200px) {
  .rsTitle {
    font:   bold 34px / 44px "Roboto", Microsoft Yahei;
  }
  .rsDesc {
    font:   bold 24px / 34px "Roboto", Microsoft Yahei;
  }
}
@media screen and (max-width: 1024px) {
  .rsTitle {
    font:   bold 24px / 34px "Roboto", Microsoft Yahei;
  }
  .rsDesc {
    font:   bold 20px / 30px "Roboto", Microsoft Yahei;
  }
}
@media screen and (max-width: 800px) {
  .rsTitle {
    font:   bold 16px / 26px "Roboto", Microsoft Yahei;
  }
  .rsDesc {
    font:    14px / 25px "Roboto", Microsoft Yahei;
  }
}
@media screen and (max-width: 320px) {
  .rsTitle {
    font:    14px / 25px "Roboto", Microsoft Yahei;
  }
  .rsDesc {
    display: none !important;
    font:    14px / 25px "Roboto", Microsoft Yahei;
  }
}
#main-slideshow .progress-spinner-left,
#main-slideshow .progress-spinner-right {
  border-color: #1ebbf0 !important;
}
.contentSlider-wrap .psBullet:not(.act):not(:hover),
.contentSlider-wrap .psBullet:not(.act):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
}
.contentSlider-wrap .psBullet.act {
  -webkit-box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
}
.sidebar .contentSlider-wrap .psBullet:not(.act):not(:hover),
.sidebar .contentSlider-wrap .psBullet:not(.act):hover,
.sidebar-content .contentSlider-wrap .psBullet:not(.act):not(:hover),
.sidebar-content .contentSlider-wrap .psBullet:not(.act):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
}
.sidebar .contentSlider-wrap .psBullet.act,
.sidebar-content .contentSlider-wrap .psBullet.act {
  -webkit-box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
}
.footer .contentSlider-wrap .psBullet:not(.act):not(:hover),
.footer .contentSlider-wrap .psBullet:not(.act):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
}
.footer .contentSlider-wrap .psBullet.act {
  -webkit-box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
}
