<script async type="text/javascript" src="{{ assets('auth', 'js/reset-password.frontend.js') }}"></script>
<div class="sc-membership">	
	<div class="ui centered grid">
		<div class="column left aligned">
			<form class="ui form left reset-password-form"
			      method="post"
			      data-validation-rules="{{
			      {
				      'username': {"presence":{"message":"%s"}}
			      }
			      |json_encode
			      |format(translate('You must enter a username or email address.')) }}"
			>
				<div class="field" data-name="username">
					<label>{{ translate('Username or Email Address') }}</label>
					<input type="text" name="username">
				</div>
				
				<div class="field">
					<a class="ui button primary mini submit">{{ translate('Get new password') }}</a>
				</div>
			</form>
		</div>
	</div>
</div>