<div class="ui segment mbs-photo-gallery-container mbs-hidden"></div>
<input type="hidden" class="mbsStrIncorrectGalleryParams" value="{{ translate('Error! Incorrect gallery params!') }}"/>
<div class="mbs-gallery-one-template mbs-hidden">
    <div class="mbs-one-gg-image">
        <div class="mbs-preview">
            <img src="{{ defaultGalleryImage }}" alt="">
        </div>
        <i class="close icon"></i>
    </div>
</div>