<div class="ui small modal" id="report-activity-modal">
	<i class="close icon"></i>
	<div class="header">
		{{ translate('Report post') }}
	</div>
	<div class="content">
		<div class="ui form">
			<div class="field">
				<label>{{ translate('Message') }}</label>
				<textarea rows="5"></textarea>
			</div>
		</div>
	</div>
	<div class="actions">
		<button class="ui button mini secondary cancel">{{ translate('Cancel') }}</button>
		<button class="ui positive mini primary button">{{ translate('Send') }}</button>
	</div>
</div>