<div class=" sc-membership ui basic modal mp-gallery-modal">
	<div class="ui active dimmer modal-loader">
		<div class="ui loader"></div>
	</div>
	<div class="image-index"><span class="current-index"></span> {{ translate('of') }} <span class="total"></span></div>
	<div class="controls" style="display: none">
		<div class="prev-button">
			<i class="chevron left icon"></i>
		</div>
		<div class="next-button">
			<i class="chevron right icon"></i>
		</div>
	</div>
	<i class="close icon"></i>
	<div class="image-content">
		<div class="image">
			<img alt=""/>
		</div>
	</div>
</div>

{#<script type="text/javascript" src="{{ assets('base', '/lib/jquery.history.js') }}"></script>#}