
<h3>{{ translate('Warning! All membership users data will be deleted. This action cannot be undone!') }}</h3>

<a href="{{ uninstallConfirmUrl }}">
	<button class="sc-button icon-button primary danger">
		<i class="fa fa-trash"></i>
		<span>{{ translate('Confirm Uninstall') }}</span>
	</button>
</a>
